* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Serif";
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;    
}

.header {
    background-color:#fceccb;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.header__logo a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.header__nav ul {
    list-style-type: none;
}

.header__nav li:hover {
    transform: scale(1.2);
    font-weight: bold;
}

.header__nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.header__nav ul li:last-child {
    margin-right: 0;
}

.header__nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.banner {
    /* background-image: url('https://example.com/hero-image.jpg'); 
    background-color: black; */
    background-image: linear-gradient(#fceccb, #f3b88d,#8f3d4b);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.innerban {
    color: #fff;
}

.innerban h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.innerban p {
    font-size: 24px;
}


.imgcont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.innerban img {
    max-width: 45px;
    max-height: auto;
    margin: 30px 10px;    
}

#linkedin:hover {
    transform: scale(1.2); 
}

#github:hover {
    transform: scale(1.2); 
}

.section {
    padding: 40px;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section p {
    font-size: 18px;
    line-height: 1.5;
}

.footer {
    background-color: #2b1d42;
    color: #fff;
    text-align: left;
    padding: 20px;
}

#page {
   background-image: linear-gradient(#8f3d4b,#4a2f48,#2b1d42);
   color: #f4f4f4;
   display: flex;
   align-items: center;
   flex-direction: column;
   
}

#contact {
    text-align: center;
}

#about {
    text-align: center;
    width: 1200px;
}